<!DOCTYPE html>
<html>
  <head>
    <title>MyHobbits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <a href="/"><img id="logoScript" alt="Meetup home" src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg" >
    </a>
  
    
  </head>

  <body>
    <%= yield %>
  </body>

</html>
