<!DOCTYPE html>
<html>
  <head>
    <title>MyHobbits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title" content="Project Title" />
     <meta property='og:image' content="<%= image_url('project_pic.png') %>"/>
     <meta property="og:description"
       content="A brief description of your project."
     />
     <meta property="og:url"
       content="http://myhobbits.herokuapp.com/"
     />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <a href="/"><img id="logoScript" alt="Meetup home" src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg" >
    </a>
   
        <a href="/#/newgroup" id="toggle_group" >Start a new group</a>
    
  </head>

  <body>
    <%= yield %>
  </body>

</html>
