<!DOCTYPE html>
<html>
  <head>
    <title>MyHobbits</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <a href="/"><img id="logoScript" alt="Meetup home" src="https://secure.meetupstatic.com/s/img/5455565085016210254/logo/svg/logo--script.svg" >
    </a>
    <script>
      window.one = '<%= image_url('1.jpg') %>'
      window.two = '<%= image_url('2.jpg') %>'
      window.thr = '<%= image_url('3.jpg') %>'
      window.fou = '<%= image_url('4.jpg') %>'
      window.fiv = '<%= image_url('5.jpg') %>'
      window.six = '<%= image_url('6.jpg') %>'
      window.sev = '<%= image_url('7.jpg') %>'
      window.eig = '<%= image_url('8.jpg') %>'
      window.nin = '<%= image_url('9.jpg') %>'
      window.ten = '<%= image_url('11.jpg') %>'
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>

</html>
